:root {
  --yellow: #ffd666;
  --yellow-weak: #ffe49c;
  --blue: #0d4e6b;
  --blue-weak: #3489af;
  --background: #fbfcfc;
  --background-popup: #fbfcfceb;
  --button-leaflet: #ebebeb;
  --skeleton: #f4f4f4;
  --invalid-data: #fffbfbef;
  --valid-data: #f5f8fa;
  --invalid-plus: #ff000080;
  --hover-button: #00000011;
  --select-button: #a6faae;
  --border-select-button: #25d824;
  --submit-button: #37c77f;
  --hover-submit-button: #3ee08f;
  --msg-error: #bf1650;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}
/* ===================================================================:: */
/* buttons map */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-container a {
  color: var(--blue);
  transition: all 0.5s;
}
.leaflet-container a:hover {
  color: var(--blue);
  background-color: var(--button-leaflet);
}
