/* ===================================================================:: */
/* page content */
#create-page {
  width: 100vw;
  background-color: var(--background);
  color: var(--blue);
}
/* ===================================================================:: */
/* form */
.create-page-rightside {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 93.3333%;
  min-height: 100%;
  background: linear-gradient(var(--blue), var(--background));
  padding: 2.2222vw 0 2.2222vw 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.create-page-form {
  /* width: 62.5vw;
  border-radius: 1.6851vw;
  background-color: var(--background); */

  width: 75%;
  margin: auto;

  background-color: var(--background);
  border-radius: 1.7638vw;

  padding: 5vw 5vw;

  overflow: hidden;
  z-index: 4;
}

.create-page-form legend {
  width: 100%;

  font-size: 2.8222vw;
  line-height: 2.9986vw;
  font-weight: 700;

  border-bottom: 0.0882vw solid var(--blue);
  margin-bottom: 3.5277vw;
  padding-bottom: 2.1166vw;
}

.create-page-form label {
  font-weight: 700;
  font-size: 1.4111vw;
  line-height: 1.9402vw;
}

/* ===================================================================:: */
/* hidden inputs
-> https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
-> https://markheath.net/post/customize-radio-button-css
*/
#imagem,
.create-page-coordenada,
#open-on-weekends-true,
#open-on-weekends-false {
  position: absolute;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  margin: 0;
  padding: 0;
}

/* ===================================================================:: */
/* confirm button */
.create-page-submit-button {
  position: relative;
  margin-top: 5.6444vw;
  width: 100%;
  height: 5.6444vw;
  border: none;
  cursor: pointer;
  background-color: var(--submit-button);
  border-radius: 1.7638vw;
  color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}
.create-page-submit-button p {
  font-size: 1.5875vw;
  font-style: italic;
}
.create-page-submit-button:hover {
  background-color: var(--hover-submit-button);
}
.create-page-spinner {
  position: absolute;
  right: 35%;
  width: 2.5vw;
  height: 2.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.create-page-fa-spin {
  animation: create-page-fa-spin 0.75s infinite steps(8);
  width: 100%;
  height: 100%;
  color: var(--background);
}
@keyframes create-page-fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* ===================================================================:: */
/* spacing */
#create-page fieldset {
  border: none;
}
#create-page fieldset + fieldset {
  margin-top: 7.0555vw;
}
.create-page-input-data + .create-page-input-data,
.create-page-map-do + .create-page-input-data {
  margin-top: 2.1166vw;
}
#create-page label + input,
#create-page label + label,
#create-page label + textarea,
#create-page label + .create-page-button-select {
  margin-top: 0.7055vw;
}
#create-page input,
#create-page textarea {
  padding: 2.293vw 1.5875vw;
}
/* ===================================================================:: */
/* MAP */
.create-page-map-do {
  background-color: var(--background);
  border-radius: 1.7638vw;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-page-map {
  width: 100%;
  height: 24.6944vw;
  border-radius: 1.7638vw 1.7638vw 0 0;

  border: none;
}
.create-page-do {
  width: 100%;
  height: 2.6458vw;
  border-radius: 0 0 1.7638vw 1.7638vw;
  color: var(--blue);

  font-size: 1.1465vw;
  font-weight: 700;

  border: none;

  padding: 1.7638vw 1.3229vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================================================================:: */
/* Input name */
/* Input opening_hours */
.create-page-name,
.create-page-opening-hours {
  display: block;
  position: relative;
  width: 100%;
  height: 5.6444vw;
  border-radius: 1.7638vw;

  font-size: 1.4111vw;
  border: none;
}
/* ===================================================================:: */
/* Textarea about */
/* Textarea instructions */
.create-page-about,
.create-page-instructions {
  display: block;
  position: relative;
  width: 100%;
  height: 10.5833vw;
  border-radius: 1.7638vw;

  font-size: 1.4111vw;

  border: none;
  resize: none;
}
/* ===================================================================:: */
/* Radio Buttons */
.create-page-button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.create-page-button-true,
.create-page-button-false {
  width: 100%;
  height: 5.6444vw;

  background: var(--valid-data);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.create-page-button-true:hover,
.create-page-button-false:hover {
  background-color: var(--hover-button);
}
input[type="radio"]:checked + .create-page-button-true,
input[type="radio"]:checked + .create-page-button-false {
  background-color: var(--select-button);
  border: 0.1323vw solid var(--border-select-button);
}
.create-page-button-true {
  border-radius: 1.7638vw 0 0 1.7638vw;
}
.create-page-button-false {
  border-radius: 0 1.7638vw 1.7638vw 0;
  border-left: 0;
}
/* ===================================================================:: */
/* Eliminate focus */
#create-page input:focus,
#create-page textarea:focus,
#create-page button:focus {
  outline: none;
}
/* ===================================================================:: */
/* Input and textarea animation for errors */
.invalid {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.5);
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  background-color: var(--invalid-data);
}
.valid {
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  background-color: var(--valid-data);
}
.valid-pictures {
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  background-color: var(--valid-data);
  border: 0.0881vw dashed var(--blue);
}
.valid-plus {
  color: var(--blue);
}
.invalid-plus {
  color: var(--invalid-plus);
}
/* ===================================================================:: */
/* Customization style errors */
.error {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-message {
  color: var(--msg-error);
  font-size: 1.2vw;
  padding: 0.7055vw 1.5875vw 0 1.5875vw;
}
.error-message::before {
  display: inline;
  content: "❌ ";
}
/* ===================================================================:: */
/* Pictures */
.create-page-pictures {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 5.6444vw;
  border-radius: 1.7638vw;

  font-size: 1.4111vw;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.create-page-container {
  margin-top: 0.65vw;
  margin-bottom: 0.65vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1vw;
}
.create-page-container img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius: 1vw;
}
.create-page-plus {
  width: 2.1166vw;
  height: 2.1166vw;
}
