#mp {
  width: 100vw;
  height: 100vh;
  color: var(--blue);
  background: var(--background);
  position: relative;
  display: flex;
}

#mp .mp-side {
  width: 27.7777%;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3vw 0rem 3vw 3vw;
  border-right: 0.25vw var(--blue) solid;
}
#mp .mp-side .mp-mark {
  width: 4.4444vw;
  height: 5vw;
  background: url("../../images/map-marker.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
#mp .mp-side .mp-text {
  padding-bottom: 10vw;
}
#mp .mp-side .mp-text .mp-title {
  font-size: 2.7777vw;
  font-weight: 700;
}
#mp .mp-side .mp-text .mp-description {
  font-size: 1.25vw;
  font-weight: 400;
}
#mp .mp-side .mp-city {
  display: flex;
  flex-direction: column;

  font-size: 1.25vw;
}

#mp .mp-grid-world {
  display: grid;
  width: 72.2223%;
  height: inherit;
  grid-template-columns: 0.22223fr repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0% 0%;
}
#mp .mp-grid-world .mp-register {
  grid-area: 9 / 7 / 11 / 9;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding-right: 3vw;
  padding-bottom: 3vw;
}
#mp .mp-grid-world .mp-register .mp-button {
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
  transition: background-color 0.2s;
}
#mp .mp-grid-world .mp-register .mp-button:hover {
  background-color: var(--yellow-weak);
}
.map-page-icon {
  width: 15px;
  height: 15px;
  color: var(--blue);
  transition: color 0.2s;
}
#mp .mp-grid-world .mp-register .mp-button:hover .map-page-icon {
  color: var(--blue-weak);
}
#mp .mp-grid-world .mp-map {
  grid-area: 1 / 1 / 11 / 9;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/*
 * div mp-map
 *  div worldmap
 *    css map world-map
 */
#mp .mp-grid-world .mp-map .worldmap {
  width: inherit;
  height: inherit;
}
