#login-page {
  width: 100vw;
  height: 100vh;

  margin: auto;
  background-color: rgb(255, 255, 255);

  display: flex;
}
.lp-left {
  width: 60vw;
  height: inherit;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lp-logotipo img {
  width: 18.056vw;
  margin-bottom: 6.9445vw;
}
#lp-city {
  font-size: 1.71vw;
  line-height: 2.428vw;

  display: flex;
  flex-direction: column;
  text-align: center;

  color: var(--blue);
}
.lp-right {
  width: 40vw;
  height: inherit;
  border-left: 0.25vw solid var(--blue);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lp-form {
  width: auto;
  height: auto;
  background-color: white;
}
.lp-form fieldset {
  border: none;
}

.input-email,
.input-password {
  display: flex;
  flex-direction: column;
}

/* ===================================================================:: */
/* inputs */
.input-email input,
.input-password input {
  height: 4.167vw;
  border: none;
  border-radius: 1.388vw;
  padding: 1.666vw 1.458vw;

  font-size: 1.111vw;
}
#login-page input:focus,
#login-page button:focus {
  outline: none;
}
/* ===================================================================:: */
/* legend */
.lp-form legend {
  text-align: start;
  margin-bottom: 2.7778vw;
  font-size: 2.222vw;
  font-weight: 700;
  line-height: 2.361vw;
  color: var(--blue);
}
/* ===================================================================:: */
/* labels */
.lp-form label {
  font-size: 1.12vw;
  line-height: 1.53vw;
  margin-bottom: 0.65vw;
  color: var(--blue);
}
/* ===================================================================:: */
/* space inputs */
.input-email + .input-password {
  margin-top: 1.111vw;
}
.input-password + .input-remember {
  margin-top: 1.666vw;
}
/* ===================================================================:: */
/* Recognize */
.login-page-recognize-button {
  width: 25vw;
  margin-top: 2.777vw;
}
.login-page-recognize {
  width: 100%;
  height: 4.167vw;
  padding: 1.666vw 1.458vw;
  margin-bottom: 0.65vw;

  background-color: var(--invalid-data);
  border-radius: 1.3888vw;
  border: 0.0694vw solid rgba(255, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.903vw;
  color: var(--msg-error);
}
.login-page-recognize span {
  background-color: rgba(255, 0, 0, 0.185);
  padding: 0 0.5vw 0 0.5vw;
  border-radius: 0.35vw;
  margin-right: 0.5vw;
}
/* ===================================================================:: */
/* confirm button */
.submit-button {
  width: 100%;
  height: 4.167vw;
  border: 0;
  cursor: pointer;
  background-color: var(--submit-button);
  border-radius: 1.3888vw;
  color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.112vw;
  font-style: italic;

  transition: background-color 0.2s;
}
.submit-button:hover {
  background-color: var(--hover-submit-button);
}

/* ===================================================================:: */
/* Remember and forgot */
#login-page .input-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#login-page .lembrar-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-page .lembrar-me label {
  margin-left: 1.111vw;
  margin-bottom: 0;
}
#login-page .lembrar-me .use-checkbox {
  width: 1.805vw;
  height: 1.805vw;
}
#login-page .lembrar-me .i-checkbox {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-page .esqueci {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-page .esqueci .input-simulate {
  margin-bottom: 0;
  cursor: pointer;
}
#input-esqueci {
  position: absolute;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  margin: 0;
  padding: 0;
}
/* ===================================================================:: */
/* Password toogle */
.input-password {
  position: relative;
}
.input-password input {
  padding-right: 5vw;
}
.div-icon-eye-valid,
.div-icon-eye-invalid {
  position: absolute;
  bottom: 1.04165vw;
  right: 1.458vw;
}
.teste {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.0833vw;
  height: 2.0833vw;
}
.use-eye {
  width: 2.0833vw;
  height: 2.0833vw;
  cursor: pointer;
}
/* ===================================================================:: */
/* button comeback */
#login-page .voltar {
  position: absolute;
  top: 3vw;
  right: 3vw;
}
#login-page .voltar .box-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.7778vw;
  height: 2.7778vw;

  border-radius: 1.111vw;

  padding: 0.8333vw;
  background-color: var(--blue);

  transition: background-color 0.2s;
}

#login-page .voltar .box-arrow:hover {
  background: var(--blue-weak);
}

#login-page .voltar .box-arrow .arrow {
  width: max-content;
  height: max-content;

  color: var(--background);
  transition: color 0.5s;
}
/* ===================================================================:: */
/* Input and textarea animation for errors */
#login-page .invalid {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.5);
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  background-color: var(--invalid-data);
}
#login-page .valid {
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  background-color: var(--valid-data);
}
/* ===================================================================:: */
/* Customization style errors */
#login-page .error {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#login-page .error-message {
  color: var(--msg-error);
  font-size: 0.903vw;
  padding-top: 0.347vw;
  padding-left: 1.458vw;
}
#login-page .error-message::before {
  display: inline;
  content: "❌ ";
}
